gpu: 'cuda:0'
---
train:
  epoch: 20
  batch_size: 8
  num_workers: 16
  optimizer: 'adam'
  adam: 0.001
  adabound:
    initial: 0.001
    final: 0.05
  summary_interval: 10
  validation_interval: 100
  checkpoint_interval: 1000
---
scheduler:
  type: 'Plateau'
  oneCycle:
    max_lr: 0.001
  Plateau:
    mode: 'min'
    patience: 10
    factor: 0.1

---
data:
  norm_dir: '/home/nas/user/kbh/Librispeech/norm/'
  vfws_dir: '/home/nas/user/kbh/Librispeech/vfws/'
  noise_dir: '/home/nas/user/kbh/Chime4/noise/'
  audio_len: 3.0
---
  log:
    chkpt_dir: 'chkpt'
    log_dir  : 'logs'
---
form:
  input: '*-norm.wav'
  target:
    wav: '*-target.wav'
    mag: '*-target.pt'
  mixed:
    wav: '*-mixed.wav'
    mag: '*-mixed.pt'
---
model:
  lstm_dim: 400
  fc1_dim: 600
  fc2_dim: 601
---
audio:
  n_fft: 1200
  num_freq: 601 # n_fft//2 + 1
  sample_rate: 16000
  hop_length: 160
  win_length: 400
  min_level_db: -100.0
  ref_level_db: 20.0
  preemphasis: 0.97
  power: 0.30
---
embedder:
  num_mels: 40
  n_fft: 512
  emb_dim: 256
  window: 80

